## Crie o próprio .env e siga as instruções desse .env.example
## Utilize o Google Cloud Console para conseguir as keys
GOOGLE_CLIENT_ID="cola o id aqui"
GOOGLE_CLIENT_SECRET="cola a chave secreta aqui"