## Crie o próprio .env e siga as instruções desse .env.example

# Servidor & Ambiente
PORT=3000
NODE_ENV=development
CORS_ORIGIN=*

# Banco de Dados (Dev = SQLite, Prod = PostgreSQL)
DB_PATH=./database/app.db

## Utilize o Google Cloud Console para conseguir as keys de Auth (Futuro)
GOOGLE_CLIENT_ID="cola o id aqui"
GOOGLE_CLIENT_SECRET="cola a chave secreta aqui"